.venv/
__pycache__/
*.pyc
backend/files/*.pdf
backend/files/*.xlsx
backend/files/backups/
backend/files/statements/
backend/files/uploads/
frontend/node_modules/
frontend/dist/
frontend/.npm-cache/
.DS_Store
.env
